/* Tag Selector */
h1 {
    color: red;
    font-size: 150px;
    position: relative;
}

/* img{
    background-color: red;
} */


/* Class Selector */

.bacon {
    background-color: green;
}

.broccoli{
    background-color: red;
}

/* Ids Selector */
#heading{
    color: blue;
}

/* hierarchy of selectors
ID, class, tag

in ID you can use it only for one tag because it's unique*/

/* classes: to apply same style to group related items
IS: to apply specific style to a single element */