/* Tag Selector */
h1 {
    color: red;
    font-size: 150px;
}

img:hover {
    background-color: gold;
}


/* Class Selector */

.bacon {
    background-color: green;
}

.broccoli{
    background-color: red;
}

.circular {
    border-radius: 100%;
}

/* Ids Selector */
#heading{
    color: blue;
}

#big{
    font-size: 1000px;
}

/* hierarchy of selectors
ID(#tag), class(.tag), tag

in ID you can use it only for once in a html page because it's unique*/

/* classes: to apply same style to group related items
IS: to apply specific style to a single element */

