
body{
    font-family: "Merriweather",serif;
    font-size: 2 em;
    margin: 0;
    text-align: center;

}

h1{
    color: #DDDDDD;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;
    /* margin: 0;
    /* width: 10%; */
    /* margin: 0 auto;  */ 
    /* check mdn margin documentation */

}

h2{
    color: #DDDDDD;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}

h3{
    color: #DDDDDD;
    font-family: 'Montserrat', sans-serif;

}

p{
    color: #DDDDDD;
}

span{
    text-decoration: underline;
}

.circular{
    border-radius: 50%;
}

.top-container{
    background-color:#222831 ;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    background-color:#222831 ;
}

.bottom-container{
    background-color:#222831 ;
}

.top-cloud{
    position: absolute;
    right: 15%;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 15%;
    bottom: 300px;
}

.web-img{
    width: 20%;
    height: 20%;
    filter: invert(1);
}
