
body{
    margin: 0;
}

h1{
    margin: 0;
}


.top-container{
    background-color:#BBE1FA ;
}

.middle-container{
    background-color:#3282B8 ;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color:#0F4C75 ;
    width: 200px;
    height: 200px;
}
